<extend name="Public/base" />

<block name="body">
    <!-- 标题栏 -->
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table style="width: 30%;">
            <thead>
            <tr>
                <th class="">会员基本资料</th>
                <th class=""></th>
            </tr>
            </thead>
            <tbody>
            <tr><td>UID</td><td>{$info.uid}</td></tr>
            <tr><td>昵称</td><td>{$info.nickname}</td></tr>
            <tr><td>真实姓名</td><td>{$info.realname}</td></tr>
            <tr><td>手机号</td><td>{$info.mobile}</td></tr>
            <tr><td>微信号</td><td>{$info.webchat}</td></tr>
            <tr><td>会员等级</td><td>{$info.level}</td></tr>
            <tr><td>可用积分</td><td>{$info.upoint}</td></tr>
            <tr>
                <td>推荐人</td>
                <td>
                    <if condition="$info.ruid eq 2 "> 网站管理员，您无权查看
                        <else /> <a href="{:U('Membership/info&uid='.$info['ruid'])}">资料</a> <a href="{:U('Membership/team&uid='.$info['ruid'])}">推荐图谱</a>
                    </if>

                </td>
            </tr>
            <tr>
                <td>接点人</td>
                <td>
                    <if condition="$info.puid eq 0 "> 您是顶层会员，没有节点人
                        <else /> <a href="{:U('Membership/info&uid='.$info['puid'])}">资料</a> <a href="{:U('Membership/team&uid='.$info['puid'])}">推荐图谱</a>
                    </if>

                </td>
            </tr>
            <tr>
                <td>会员状态</td>
                <td>
                    <if condition="$info.check_status eq 0 "> 待推荐人审核
                        <elseif condition="$info.check_status eq 1"/> 待5级会员审核
                        <else /> 已激活
                    </if>
                </td>
            </tr>
            <tr><td>推荐图谱</td><td><a href="{:U('Membership/team&uid='.$info['uid'])}">推荐图谱</a></td></tr>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Membership/info')}');
    </script>
</block>
